<!DOCTYPE html>
<html>
<head>
    <title>Magazin Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* stilul rămâne neschimbat */
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="header-links">
            <a href="{% url 'account' %}">User Account</a>
            <a href="{% url 'cart' %}">Shopping Cart</a>
        </div>
        <h1>Welcome to our shop</h1>
        <form action="{% url 'search' %}" method="get">
            <input type="search" id="site-search" name="q" aria-label="Search through site content">
            <button type="submit">Search</button>
        </form>
    </header>
    
    <main>
        {% for produs in produse %}
            <div class="product">
                <img src="{{ produs.imagine.url }}" alt="{{ produs.nume }}">
                <h2>{{ produs.nume }}</h2>
                <p>{{ produs.descriere }}</p>
                <form class="add-to-cart-form" method="post" action="{% url 'add_to_cart' produs.id %}">
                    {% csrf_token %}
                    <input type="number" name="quantity" min="1" max="99" value="1">
                    <button type="submit" class="add-to-cart">Add to cart</button>
                </form>
            </div>
        {% endfor %}
    </main>
    
    <footer>
        <p>Shipping Information | Contact Information</p>
    </footer>

    <script>
        var addToCartForms = document.querySelectorAll('.add-to-cart-form');

        addToCartForms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                $.ajax({
                    type: form.method,
                    url: form.action,
                    data: $(form).serialize(),
                    success: function(response) {
                        if (response.success) {
                            alert('Produs adăugat în coș!');
                        } else {
                            alert('A apărut o eroare la adăugarea produsului în coș.');
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>

